h1 {
    color: brown;
}

* {
    border: solid;
}
.header {
    background-color: rgb(156, 200, 155);
    display:flex;
    justify-content: space-around;
}
.grid {
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(114, 114, 172);
    justify-content:safe;
    font-weight: 700;
    font-family:fantasy;
    font-size:x-large;
    
}
.footer {
    display:flex;
    background-color: rgb(156, 200, 155);
     justify-content:space-around;
     font-weight: 700;
}
body{
    background-color: #808080;
}
.gameinfo{
    font-size: 25px;
    font-family: cursive;
}
.item p{
    opacity:0;
    position:absolute;
    top:50%;
    left:50%;
    color:rgb(210, 212, 43);
    transform:translate(-50%,-50%)
}
.item:hover p{
    opacity:1;
}
.item {
    position:relative;
}
.item:hover img{
    opacity:25%;
}